@model List<Bookingform>
@{
    Layout = null;
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<html>
<head>
    <div class="container h1  text-center px-2  shadow mt-5">
        <div class="row">
            <div class="col">
                <h2 class="text-center text-light " style="background-color:#2C7865"> List of Booking Cars</h2>
            </div>
        </div>
    </div>

    <style>
        table thead th {
            border: 1px solid white;
        }

        table tbody td {
            border: 1px solid black;
        }
    </style>
</head>

<body>


    <div class="container my-5">
        <table class="table table-striped table-hover ">
            <thead class=" table-dark">

            <th>
                Id
            </th>
            <th>
                PersonName
            </th>
            <th>
                CarName
            </th>
            <th>
                Cnic
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th>
                CarPlateNumber
            </th>
            <th>
                CarColor
            </th>
            <th>
                PickupLocation
            </th>
            <th>
                PickUpDate
            </th>
            <th>
                ReturnDate
            </th>
            <th>
                Quantity
            </th>
           
            <th>
                SomeInformation
            </th>
            <th>
                Options
            </th>


            </thead>
            <tbody class=" border border-dark">
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.Id</td>
                        <td>@booking.PersonName</td>
                        <td>@booking.CarName</td>
                        <td>@booking.Cnic</td>
                        <td>@booking.PhoneNumber</td>
                        <td>@booking.Email</td>
                        <td>@booking.CarPlateNumber</td>
                        <td>@booking.CarColor</td>
                        <td>@booking.PickupLocation</td>
                        <td>@booking.PickUpDate</td>
                        <td>@booking.ReturnDate</td>
                        <td>@booking.Quantity</td>
                        @* <td>@booking.CarType</td> *@
                        <td>@booking.SomeInformation</td>
                        <td>
                            <a href="~/User/UpdateBooking/@booking.Id" class="btn btn-warning">Edit</a>

                            <a href="~/User/Removed/@booking.Id"  class="btn btn-danger mt-2">Cancel</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
</html>